/* COLLECTIVIZED */

body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
  height: 300px;
  width: 300px;
  vertical-align: baseline;
  font-family: Roboto; 
}

@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
  font-family: "RobotoLightItalic";
  font-weight: italic;
  src: url(../fonts/Roboto/Roboto-LightItalic.ttf);
}

